/* ----------FONTS---------- */
@font-face {
    font-family: Roboto;
    src: local("Roboto-Regular"),
    url("../asset/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Futura;
    src: local("Futura-Medium-bt"),
    url("../asset/fonts/Futura-Medium-bt.ttf") format("truetype");
}





/* ----------FOOTER---------- */
.footer {
    box-sizing: border-box;
    background-color: rgb(86, 104, 175);
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: Futura;
    padding: 10px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .footer {font-size: 12px}
}

@media only screen and (min-width: 980px) {
    .footer {font-size: 15px}
}
  